#myTab.nav-tabs {
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: none;
    --bs-nav-tabs-border-width: none;
}

.link_option {
    color: inherit;
    text-decoration: none;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.bookmark-icon {
    width: 1em; /* Set the width relative to the font size (1em is the default font size) */
    height: 1em; /* Set the height relative to the font size */
    text-align: center;
    /* vertical-align: middle; Align the baseline of the SVG with the baseline of the text */
}